*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}



.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar style */
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-iteam{
    display: flex;
    gap: 3rem;
}
a{
    text-decoration: none;
}