*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}



.container{
    max-width: 1140px;
    margin: 0 auto;
}
.praimary-color{
    color:rgba(0, 0, 0, 0.5); 
    font-weight:400px ;
    font-size: 1.35rem;
}

/* navbar style */
.Navbar{
    display: flex;
    margin-top: 1.85rem;
    justify-content: space-between;
    align-items: center;
}
.nav-iteam{
    display: flex;
    gap: 3rem;
}
a{
    text-decoration: none;
}
#item1{
    font-family: inter;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(37, 36, 50);
}
#iteam4{
    color: black;
    font-weight: 400;
    font-size: 1.35rem;
}

/* style banner */
.banner{
    display: flex;
    margin-top: 7.5rem;
    align-items: end;
}
.banner-title{
    font-weight: 700;
    font-size: 4.06rem;
    color: rgba(0, 0, 0, 1);
}
.banner img{
    width: 100%;
}

.og-color{
    color: rgba(233, 90, 8, 1);
}

/* card section */
.plant-title{
    margin-top: 7.5rem;
    font-weight: 700;
    font-size: 3.12rem;
}
.plant-subtitle{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}
.title-section{
    text-align: center;
}
.card-detales{
    max-width: 270px;
    height: 485px;
    text-align: center;
    box-sizing: border-box;
}
.card-detales img{
    width: 100%;
    height: 323px;
}
.btn{
    width:100%;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600px;
    border: none;
}
.flower-name{
    font-weight: 500px;
    font-size: 1.3rem;
    color: #111111;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}
.flower-price{
    font-size: 1.35rem;
    font-weight:700px ;
    color: #111111;
    margin-bottom: 1.5rem;
}
.Plants-Section{
    margin-bottom: 210px;
}

/* Plants-Lover-Section */
.Plants-Lover-Section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.Plants-Lover-dscription{
    width: 540px;
    height: 521px;
}
.Plants-Lover-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 25px;
}
.Plants-Lover-dscription p{
    margin-bottom: 30px;
    font-size: 25px;
}
.Plants-Lover-Section img{
    width: auto;
}
.Plants-Lover-Section{
    margin-bottom: 134px;
}

/* Latest Deal Section */
.Latest-Deal-detals{
    text-align: center;
}
.Latest-Deal-title{
    font-weight: 700;
    font-size: 3.12rem;
    margin-bottom: 1rem;
}
.Latest-Deal-subtitle{
    font-weight: 400px;
    font-size: 1.37rem;
}


/* Join Section */
.Join-Section{
    height: 533px;
    display: flex;
    align-items: center;
    background-image: url('../assets/news-letter-bg.png');
}
.parent-Bunch{
    box-sizing: border-box;
    text-align: center;
    max-width: 830px;
    margin: 0 auto;

}
.colorful-Bunch{
    display: flex;
    justify-content: center;
}
.colorful-Bunch input{
    border: none;
    padding: 1rem ;
    width: 600px;
    height: 50px;
}
.btn2{
    width: 186px;
    height: 50px;
}
.parent-Bunch-title{
    font-weight: 700px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}



@media screen and (max-width:425px) {
    .all-iteam{
        display: none;
    }
    .Navbar{
        margin: 8px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 1.75rem;
        margin-top: 1.75rem;
    }
    .banner-left{
        margin: 1rem;
    }
    .banner-description {
        margin-top: 0.8rem;
    }
    .card{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.Plants-Lover-Section{
    flex-direction: column;
}
.Plants-Lover-Section img{
    width: 100%;
}
.Plants-Lover-dscription{
    width: 100%;
}




}